.slideHide{
    height: 0;
    transition: all 1s ease;
}
.slideShow{
    height: 400px;
    transition: all 1s ease;
}
.ui-warp{
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    background: #f6f6f6;
    .ui-line-one{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .ui-left{
        float: left;
    }
    .ui-right{
        float: right;
    }
    .ui-bg-red{
        color: #fff;
        background-color: #ff5e0e;
    }
    .ui-col-gray{
        color: #c4c4c4 !important;
    }
    .ui-color-red{
        color: #ff5e0e;
    }
  .ui-color-blue{
    color: #57b2e0;
  }
    .ui-header-container{
        width: 100%;
        height: 1.1rem;
        padding: .3rem;
        padding-right: .4rem;
        background: #fff;
        .ui-header-title{
            font-size: .38rem;
            display:block;
            text-align: center;
        }
        .ui-header-back{
            width: .5rem;
            height: .5rem;
            float: left;
            vertical-align: middle;
        }
        .ui-icon-brackets{
            width: .5rem;
            height: .5rem;
            background: url(./i/ui-app-icon.png) no-repeat;
            background-size: 6rem;
            background-position-x: .1rem; 
            display: inline-block;
        }
        .ui-btn-cancel{
            font-size: .34rem;
            float: right;
        }
    }
    .ui-logo{
        width: 1.6rem;
        height: .7rem;
        margin-left: .14rem;
    }
    .ui-tip-star{
        width: .2rem;
        display: inline-block;
        color: #ff4400;
        font-size: .3rem;
        vertical-align: sub
    }
    .ui-user-login{
        width: 100%;
        height: 1.4rem;
        line-height: 1.4rem;
        padding: 0 .3rem;
        background: #fff;
        border: 1px solid #d6d6d6;
        border-left: 0;
        border-right: 0;
        box-sizing: border-box;
        .ui-btn-out{
            width: 1rem;
            height: .6rem;
            line-height: .6rem;
            border: 0;
            border-radius: .06rem;
        }
        .ui-username{
            font-size: .28rem;
            margin-right: .2rem;
            color: #787878;
        }
    }
}
/*ui-upload*/
.ui-upload{
    a{
        color: #6171c6;
    }
    .ui-up-setAttr{
        overflow: hidden;
        .ui-setAttr-con{
            width: 100%;
            line-height: 0;
            box-sizing: border-box;
            font-size: .28rem;
            overflow: hidden;
            .line{
                margin-top:.45rem;
                vertical-align: top;
            }
            .ui-con-left{
                width: 27%;
                height: .9rem;
                line-height: .9rem;
                margin-left: .1rem;
                display: inline-block;
                color: #6c6c6c;
            }
            .ui-con-right{
                width: 3.8rem;
                height: .9rem;
                line-height: .9rem;
                padding-right: .4rem;
                float: right;
                cursor: pointer;
                border-bottom: 1px solid #c8c7cc;
                position: relative;
                .ui-icon-right{
                    position: absolute;
                    top: .24rem;
                    right: -.16rem;
                }
            }
            .ui-menu-second{
                padding-left: .14rem;
                .ui-con-left{
                    width: 12%;
                }
                li{
                    margin-left: .2rem;
                    border-left: 1px solid #c7c7c7;
                }
                li:last-of-type{
                    background: url('./i/dropDown/down-line-end-long.png') 0px -0.1rem no-repeat;
                    background-size: 1px;
                    border: 0; 
                }
            }
        }
    }
    .ui-link-block{
        display: inline-block;
    }
    .ui-bot-3{
      padding-bottom: .3rem;
    }
    .ui-other-check{
      li{
        height: .5rem;
        line-height: .5rem;
      }
    }
    .ui-remove-con{
      margin-top: .4rem;
      .ui-txt-title{
        button{
          width: 1.6rem;
          height: .6rem;
          margin-right: .2rem;
          background: none;
          border: 1px solid #FF4400;
          font-size: .26rem;
        }
      }
      .ui-up-icon{
          vertical-align: middle;
      }
      .ui-icon-warn-im{
          background-position: -3.54rem 0;
          background-size: 4rem;
      }
    }
    .ui-se-times{
        float: right;
        font-size: .26rem;
        span{
            margin-right: .2rem;
        }
    }
    .ui-tip-red{
        font-size: .28rem;
        color: #ff5e0e;
    }
    .ui-select-title{
      width: 100%;
      margin-top: .4rem;
      span{
        margin-right: .26rem;
        font-size: .26rem;
        color: #6c6c6c;
      }
    }
    .ui-refresh-con{
      margin-top: .2rem;
        p{
          margin-left: .2rem;
          display: inline-block;
          color: #a5a5a5;
        }
    }
    .ui-in-content{
        font-size: .3rem;
        color: #6c6c6c;
        margin-top: .4rem;
        .ui-txt-in{
            width: 1.6rem;
            padding: .1rem .2rem;
            margin: 0 .2rem;
            border: 1px solid #dfdfdf;
            border-radius: .06rem;
        }
        .ui-in-tip{
            font-size: .26rem;
            margin-left: .2rem;
            color: #b7b7b7;
        }
    }
    .ui-tip-bot{
        width: 100%;
        line-height: .5rem;
        padding-right: .3rem;
        overflow: hidden;
        text-align: right;
        box-sizing: border-box;
        color: #b7b7b7;
    }
    .ui-txt-area{
        width: 100%;
        min-height: 1.4rem;
        position: relative;
        textarea{
            width: 100%;
            min-height: 1.4rem;
            border: 0;
            color: #6c6c6c;
        }
        .ui-font-tip{
            position: absolute;
            bottom: .2rem;
            right: 0;
            color: #b7b7b7;
        }
        .ui-refresh-con{
          margin-bottom: .4rem;
        }
    }
    .ui-attr-con{
        width: 100%;
        margin-top: .2rem;
        color: #6d6d6d;
        p{
            height: .6rem;
            margin-right: .4rem;
            display: inline-block;
        }
    }

    .ui-img-ul{
        height: 2rem;
        margin-top: .2rem;
        li{
            width: 30%;
            margin-right: 3%;
            float: left;
            img{
              width: 100%;
            }
        }
    }

    .ui-content-pad{
        width: 100%;
        margin-top: .3rem;
        padding: .3rem;
        padding-bottom: .2rem;
        background: #fff;
    box-shadow: 0px 4px 6px -4px #adadad;
    }
    .ui-txt-title{
        width: 100%;
        height: .6rem;
        line-height: .6rem;
        font-size: .3rem;
        .ui-tip-warn{
            font-size: .28rem;
            float: right;
            display: none;
        }
        .ui-block-red{
            width: .06rem;
            height: .24rem;
            margin-right: .1rem;
            background: #ff4400;
            display: inline-block;
        }
        .ui-up-icon{
            vertical-align: text-top;
        }
    }
    .ui-upload-tip{
        width: 100%;
        padding: .3rem;
        background: #fff;
        font-size: .28rem;
        color: #6c6c6c;
    box-shadow: 0px 4px 6px -4px #adadad;
    li{
      height: .6rem;
      line-height: .6rem;
    }
        span{
            overflow: hidden;
            height: .6rem;
            line-height: .4rem;
        }
        .ui-up-icon{
            margin-right: .1rem;
        }
        .ui-refresh{
            margin: .16rem 0 0 1.4rem;
            color: #b7b7b7;
            font-size: .24rem;
        }
    }
    /*刷新button*/
    .ui-refresh-btn{
        height: .6rem;
        line-height: .6rem;
        padding-right: .16rem;
        background: #f8f8f8;
        color: #b7b7b7;
        display: inline-block;
        border: 1px solid #dfdfdf;
        border-radius: .06rem;
        .ui-up-icon{
            margin-top: .07rem;
            vertical-align: top;
        }
    }
    /*icon图*/
    .ui-icon-hook{
        background-position: -3.76rem -1.89rem;
    }
    .ui-icon-hide{
        background-position: -2.6rem -1.89rem;
    }
    .ui-icon-show{
        background-position: -3.16rem -1.89rem;
    }
    .ui-turn-right{
        background-position: -2rem -1.89rem;
    }
    .ui-icon-succ{
        background-position: -1.7rem -.12rem;
    }
    .ui-icon-warn{
        background-position: -1.35rem -1.89rem;
    }
  .ui-icon-warn-red{
    background-position: -2.43rem -.12rem;
  }
  .ui-icon-warn-im{
        background-position: -4.46rem -0.03rem;
    background-size: 5rem;
    }
  .ui-icon-loading{
    background: url("./i/load1.gif") no-repeat;
    background-size: .3rem
  }
    .ui-icon-set{
        background-position: -3.1rem -.12rem;
    }
    .ui-icon-link{
        background-position: -5.6rem -.12rem;
    }
    .ui-icon-refresh{
        margin-right: .1rem;
        background-position: -3.68rem -.12rem;
    }
    .ui-icon-gray{
        background-position: -4.33rem -.12rem;
    }
}
/*ui-drop-menu*/
.ui-drop-menu-con{
  padding-bottom: .2rem;
}
.ui-drop-menu{
  font-size: .26rem;
  color: #6c6c6c;
  margin: .2rem 0;
  .ui-menu-title{

  }
  .ui-menu-main{
    li{
      padding-top: .2rem;
      margin-left: .17rem;
      border-left: 1px solid #c7c7c7;
      &>.ui-menu-main{
        margin-left: .2rem;
      }
      &:last-of-type{
        border-left: 0;
        background: url('./i/dropDown/down-line-end.png') 0px -.1rem no-repeat;
        background-size: 1px;
      }
      .line{
        margin-right: .06rem;
      }
      .ui-input-label{
        width: auto;
        height: auto;
        position: relative;
        .ui-input-checkbox{
          margin-right: .1rem;
        }
      }
    }
  }
}
/*ui-up-icon*/
.ui-up-icon{
  width: .4rem;
  height: .4rem;
  background: url(./i/ui-app-icon.png) no-repeat;
  background-size: 7rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: .1rem;
}
/*checkbox*/
.ui-input-checkbox{
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;// 系统默认样式
  -o-appearance: none;// 系统默认样式
  -moz-appearance: none;// 系统默认样式
  width: .3rem;
  height: .3rem;
  margin-right: .1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  background-clip: content-box;
  user-select: none;
  border-radius: 3px;
  position: relative;
  vertical-align: sub;
}
.ui-input-checkbox:checked::before{
  content: '√';
  width: 15px;
  height: auto;
  color: #f12754;
  font-weight: 700;
  position: absolute;
  top: -.08rem;
  left: 0;
  font-style: oblique;
  font-size: .3rem;
}
/*ui-select-com*/
.ui-select-com{
  position: relative;
  font-size: .26rem;
  select{
    width: 2rem;
    padding: .1rem;
    margin-left: .2rem;
    background: none;
    border: 1px solid #dfdfdf;
  }
  .ui-up-icon{
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-position: 0 -1.92rem;
  }
}
.ui-select-theOne select{
  width: 4.18rem;
}
/**/
.ui-input-radio{
  width: .3rem;
  height: .3rem;
  margin-right: .1rem;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  position: relative;
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;// 系统默认样式
  -o-appearance: none;// 系统默认样式
  -moz-appearance: none;// 系统默认样式
  user-select: none;
  vertical-align: middle;
}
.ui-input-radio:checked::before{
  content: '';
  width: .3rem;
  height: .3rem;
  background: url("./i/ui-app-icon.png") no-repeat;
  background-position: -.43rem -1.36rem;
  background-size: 5rem;
  position: absolute;
  top: 0;
  left: 0;
}
/*ui-link-list*/
.ui-link-list{
  li{
    line-height: .6rem;
    margin-top: .3rem;
    border-bottom: 1px dashed #d6d6d6;
    .ui-txt-p{
      width: 82%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }
  }
}
/*ui-help-tip*/
.ui-help-tip{
  margin: .3rem;
  color: #b7b7b7;
}
/*ui-btn-component*/
.ui-btn-component{
  width: 100%;
  min-width: 320px;
  max-width: 720px;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #fff;
  text-align: center;
  box-shadow: 0px -4px 6px -4px #adadad;
  position: fixed;
  bottom: 0;
  button{
    width: 70%;
    height: .6rem;
    line-height: .6rem;
    background: #ff5e0e;
    color: #fff;
    border: 0;
    border-radius: .06rem;
  }
}
/*ui-new-tip*/
.ui-new-tip{
  min-width: 320px;
  max-width: 720px;
  line-height: .5rem;
  padding: .2rem 1rem;
  padding-right: .72rem;
  background: #fdf7d3;
  position: relative;
  color: #78572e;
  .ui-icon-sound{
    position: absolute;
    left: .44rem;
    top: .26rem;
    background-position: -.5rem -.1rem;
  }
  .ui-icon-close-a{
    position: absolute;
    top: .18rem;
    right: .2rem;
    display: block;
    overflow: hidden;
  }
  .ui-icon-close{
    background-position: -1.06rem -.1rem;
  }
  .ui-icon-link-new{
    background-position: -5rem -.09rem;
  }
}
/*ui-up-result*/
.ui-up-result-bg{
  width: 100%;
  height: 100%;
  background: #fff;
}
.ui-up-result{
  width: 86%;
  height: auto;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-radius: .06rem;
  color: #b7b7b7;
  header{
    width: 100%;
    padding: .2rem;
    background: #f8f8f8;
    color: #000;
    .ui-re-icon{
      width: .8rem;
      height: .8rem;
      margin-right: .2rem;
      background: url("./i/ui-app-icon.png") no-repeat;
      background-size: 6rem;
      display: inline-block;
      vertical-align: top;
    }
    .ui-succ-icon{
      background-position: -.16rem -.6rem;
      background-color: inherit;
    }
    .ui-fail-icon{
      background-position: -1.2rem -.6rem ;
      background-color: inherit;
    }
  }
  .ui-re-fail{
    width: 100%;
    padding: .3rem .2rem;
    p{
      padding: .2rem 0;
    }
  }
  .ui-re-succ{
    width: 100%;
    padding: .2rem;
    box-sizing: border-box;
    list-style: outside;
    li{
      line-height: .8rem;
      margin-left: .4rem;
      padding-right: .3rem;
      a{
        color: #b7b7b7;
      }
    }
  }
  .ui-btn-con{
    width: 100%;
    height: .8rem;
    text-align: right;
    .ui-btn-close{
      margin-right: .6rem;
      color: #999999;
    }
  }
}

/*slick-slide*/
.slick-slide h3{
  padding: 0 .1rem;
}
/*
.slick-slide img{
    margin: .1rem;
}*/

/*ui-dialog-select*/
.ui-dialog-select{
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(1, 1, 1, 0.6);
    display: block;
    z-index: 100;
    font-size: .28rem;
    .ui-dialog-con{
        width: 80%;
        height: auto;
        margin: auto;
        background: #fff;
        position: absolute;
        border: 1px solid;
        border-radius: .06rem;
        top: 20%;
        left: 0;
        right: 0;
    }
    header{
        width: 86%;
        height: .9rem;
        line-height: .9rem;
        margin: 0 auto;
        margin-top: .2rem;
        text-align: center;
        border-bottom: 1px solid #c8c7cc;
        .ui-tip-star{
            margin-right:.04rem;
        }
    }
    .ui-btn-orther{
        width: 85%;
        height: .6rem;
        line-height: .6rem;
        margin: 0 auto;
        margin-top: -1px;
        display: block;
        text-align: center;
        border: 1px solid #ff4400;
        border-radius: .06rem;
        position: relative;
        z-index: 100;
        color: #ff4400;
        font-size: .26rem;
    }
    .ui-dialog-list{
        width: 100%;
        min-height: 2.2rem;
        max-height: 6rem;
        padding: 0 .4rem .2rem;
        box-sizing: border-box;
        overflow-y: auto;
        li{
            height: .8rem;
            line-height: .8rem;
            padding-left: .2rem;
            border-bottom: 1px solid #c8c7cc;
            position: relative;
            font-size: .24rem;
            color: #6c6c6c;
            .ui-icon-right{
                position: absolute;
                top: .16rem;
                right: 0;
                display: none;
            }
        }
        .list-selected{
            .ui-icon-right{
                display: block;
            }
        }
    }
    .ui-btn-con{
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: .06rem;
        button{
            width: 50%;
            height: .8rem;
            border: 0;
        }
        .ui-btn-confirm{
            background: #ff5e0e;
            color: #fff;
        }
        .ui-btn-cancel{
            background: #e4e4e4;
            color: #747474;
        }
    }
    .ui-num-select{
        width: 100%;
        min-height: 2.2rem;
        max-height: 6rem;
        height: auto;
        padding: .36rem 0  0 .4rem;
        overflow-x: hidden;
        overflow-y: auto;
        a{
            padding: .06rem .24rem;
            margin: 0 .3rem .36rem 0;
            border: 1px solid #c8c7cc;
            border-radius: .06rem;
            display: inline-block;
            color: #6c6c6c;
        }
        a.selected{
            background: #ff5e0e;
            color: #fff;
        }
    }
}
